.room-reservation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.button-reservation {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
